<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 版权所有<br>
			访问量 次 访客 数<br>
            <a href="https://damnieel.github.io/" target="_blank">沪ICP备14037XXX号-X </a>
        </div>
    </div>
</footer>